body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 30px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #333;
}

footer {
    background-color: #222;
    color: white;
    padding: 15px;
}
